header {
	background-image: url(header-bg.jpg);
	height: 702px;
	width: 100%;
	background-size: cover;
	position: relative;
}

h1 {
	font-family: 'Montserrat';
	color: white;
	text-align: left;
	margin-left: 100px;
	position: relative;
	vertical-align: bottom;
	line-height: 200px;
	font-size: 70px;
}

h2 {
	font-family: 'Montserrat';
	color: white;
	text-align: center;
	position: relative;
	font-size: 40px;
}

button {
	color: white;
	background-color: transparent;
}

li {
	font-weight: lighter;
	font-size: 18px;

}

h4 {
	font-size: 23px;
	color: #062f48;
}

h5 {
	font-size: 27px;
	font-weight: lighter;
}
h6 {
	font-weight: lighter;
}

p {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #053049;
	margin-left:auto;
  	margin-right:auto;
  	text-align:center;
  	width: 200px;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.title {
	color: black;
	margin-left: 70px;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 100px;
}

.full {
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
	background-size: cover;
	font-size: 50px;
	font-weight: thin;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-align: center;
	background-image: url(testimonial-bg.jpg);

}

.signup {
	background-color: #f9e42e;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto;
}

.cta {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #053049;
	margin-left:auto;
  	margin-right:auto;
  	text-align:center;
  	width: 200px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	background-color: #f9e32d;
	margin: auto;
}

/*
.footer {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fbe62e;
	
}
*/

footer {
	background-color: #121111;

}


.text1 {
	font-size: 60px;
	color: #fbe62e;
	font-family: 'Montserrat';
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

}


/* Struggling to get the social media icons in the centre. 
I know the padding-left is wrong becuase this will be different 
on different screens. But display inline blcok brings things
next to each other but trying to figure out how to center this. */

.twitter {
	display: inline-block;
	

}
.facebook {

	display: inline-block;
	
}

.terms { 
	color: white;
	font-size: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	position: relative;
 }













